body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1, h2 {
    color: #333;
}

#inputText, button {
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

#translatedText {
    font-size: 1.2em;
    color: #555;
}
